@mixin materialicons {
  .MaterialIcons {
    font-family: "MaterialIcons";

    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }
}

@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(MaterialIcons-Regular.woff2) format('woff2'),
  url(MaterialIcons-Regular.woff) format('woff'),
  url(MaterialIcons-Regular.ttf) format('truetype');
}